ADMIN_USERNAME=
ADMIN_NAME=
ADMIN_EMAIL=example@example.com
ADMIN_PASSWORD=
GITHUB_NAME=
GITHUB_SIGN_FULLNAME='Firstname Lastname'
GITHUB_SIGN_EMAIL=example@example.com
GIT_JENKINSFILE_DIR=.
GIT_REPO_NAME=
DOCKER_NAME=
KUBERNETES_SERVER=
KUBERNETES_NODE_IP=
JENKINS_HTTPS_PORT=
JENKINS_RAWTCP_PORT=
APP_NAME=

